{
        debug
}

radarr.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.102.104.69:7878
}
sonarr.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.102.104.69:8989
}
jellyfin.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.102.104.69:8096
}
qbittorrent.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.102.104.69:8080
}
grafana.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.88.213.67:3000
}
overseerr.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 00.102.104.69:5055
}
uptime-kuma.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.108.78.98:3001
}
portainer.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.120.10.94:9000
}
plex.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.102.104.69:32400
}
prometheus.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.120.10.94:9090
}
requestrr.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.102.104.69:4545
}
prowlarr.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.108.78.98:9696
}
pihole.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.83.228.72:8000
}
vscode.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.127.172.18:8443
}
homeassistant.n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.102.215.37:8123
}
n1al.local {
        tls /cert/tailscale.crt /cert/tailscale.key
        reverse_proxy 100.83.228.72:443
}
